@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Music340.</h1>
    <p>Click on either button to access the following pages:</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Album" asp-action="Index">Album</a>
    <a class="btn btn-success btn-lg" asp-area="" asp-controller="Genre" asp-action="Index">Genre</a>
</div>
