@model Album

@{
    ViewData["Title"] = "Details";
}

<h1>Album Details</h1>

<img src="/images/@Model.ItemImage" style="margin-right: 10px; float: left; width: 300px;" alt="album image">
<h5 class=" text-primary">@Model.Title</h5>
<h5>Artist: @Model.Artist</h5>
<h5>Release Year: @Model.Year</h5>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
